<ion-view title='<img class="title-image" src="img/logo.png"/> Ofertas'>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="page padding-vertical">
        <div class="list card">


          <div class="item item-image">
            <img src="img/hotel.jpg">
          </div>

        </div>  
        <div class="list card">


          <div class="item item-image">
            <img src="img/comida.jpg">
          </div>

      </div>

      <div class="list card">


          <div class="item item-image">
            <img src="img/acti.jpg">
          </div>

      </div>

      <div class="list card">

<!--           <div class="item" align="center">
           
            <h2>SERVICIOS</h2>
           
          </div> -->

          <div class="item item-image">
            <img src="img/serv.jpg">
          </div>

      </div>
        
    </ion-content>
</ion-view>