.title-image {
    margin-top: 8px;
    height: 27px;
}

ion-content.login{
    background: url("../img/sunset.jpg") center center no-repeat;
    background-size: cover;
}
/* Empty. Add your own CSS if you like */
ion-footer-bar.newpost {
padding:0;
height:100px;
}
ion-footer-bar form {
width: 100%;
height:50px;
padding:0;
margin:0;
}
ion-footer-bar.newpost .list {
width:100%;
}


ion-footer-bar .item-input-wrapper {
background-color: inherit;
}
ion-footer-bar .item-input-wrapper ~ .button {
margin:0;
}

.image-container{ 
	max-width: 90vw; 
    max-height: 100.25vw;
    margin: auto;
	
}

.picture-container {
	position:relative;
	top: -10px;
	margin-bottom: 5px;

}
